// layout
$container-width: 890px;

// RWD 斷點
$RWD: (
  'lg': 1200px,
  'md': 992px,
  'xs': 768px
);

// 顏色, 使用 (rwd尺寸-)tx-key值 or (rwd尺寸-)bg-key值 or (rwd尺寸-)border-key值
$colors: (
  'white':#fff,
  'black':#000,
  'primary':#4BC9C9,
  'danger':#FA5555,
  'gray-100':#F5F7FA,
  'gray-200':#DCDFE6,
  'gray-300':#5A5E66,
  'gray-500':#394042,
  'gray-600':#303133
  );

// 字形大小, 使用 (rwd尺寸-)font-key值
$font-size: (
  'xxl': 28px,
  'xl': 24px,
  'l': 20px,
  'n': 16px,
  'm': 14px,
  's': 12px
);

// font-family, 使用 (rwd尺寸-)font-key值
$font-family: (
  'sans': ('Noto Sans TC', sans-serif)
);

// 字形重量, 使用 (rwd尺寸-)weight-key值
$weights: (
  's': lighter,
  'm': normal,
  'l': bold
);

// 間距, 使用 (rwd尺寸-)m-方向-key值 or (rwd尺寸-)p-方向-key值
$spaces: (
  '0': 0,
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 0.75rem,
  '4': 1rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '7': 1.75rem,
  '8': 2rem,
  '9': 2.25rem,
  '10': 2.5rem,
  '11': 2.75rem,
  '12': 3rem,
);

// 寬度百分比, 使用 (rwd尺寸-)width-key值
$widths: (
  '0': 0,
  '25': 25%,
  '50': 50%,
  '75': 75%,
  '100': 100%
);

// 圓弧, 使用 (rwd尺寸-)round-key值
$rounds: (
  'none':none,
  's': 2px,
  'm': 4px,
  'l': 8px,
  'full': 50%
);

// border樣式, 使用 (rwd尺寸-)border-key值
$border-styles:(
  'solid':solid,
  'dashed':dashed,
  'dotted':dotted,
  'double':double,
  'none':none
);

// border寬, 使用 (rwd尺寸-)border-key值
$border-width:(
  '0':0,
  's':1px,
  'm':2px,
  'l':4px
);

// 屬標狀態, 使用 (rwd尺寸-)cursor-key值
$cursors:(
  'default':default,
  'pointer':pointer,
  'wait':wait,
  'text':text,
  'move':move,
  'not-allowed':not-allowed
);

// 透明度, 使用 (rwd尺寸-)opacity-key值
$opacitys:(
  '0': 0,
  '25': 25,
  '50': 50,
  '75': 75,
  '100': 100
);
